/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* Banner start */
    .banner-content {
        padding-top: 40px;
    }
    .banner-content h6 {
        padding-bottom: 15px;
    }
    .banner-content h1 {
        font-size: 2rem;
    }
    .banner-content p {
        font-size: 1rem;
    }
    .banner-content a {}

    .banner-img{
    }
    /* Banner end */

    /* Make customer start */
    .customer-title{
        font-size: 2.2rem;
    }
    .customer-img-1, .customer-img-2 {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .experience {
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        font-weight: 700;
        color: #112e41;
    }
    /* Make customer end */


    /* Advertise start */
    .single-card{
        width: 90%;
        margin: 0 auto;
    }
    .subtitle{
        font-size: 1rem;
    }
    .section-title{
        font-size: 2rem;
    }
    /* Advertise end */

    /* Recent start */
    .recent-single-item{
        margin: 5% 0;
    }
    .recent-text-container{
        margin-bottom: 30px;
    }
    .recent-title{
        font-family: 'Poppins', sans-serif;
        font-size: 1.6rem;
        font-weight: 700;
        color: #112e41;
    }
    .recent-text-container{
        padding: 0 0 0 5%;
    }
    .recent-text{
        font-size: 1rem;
    }
    .recent-subtitle{

    }
    .recent-img{
        padding: 0 5%;
    }
    .recent-img2{
        margin-bottom: 30px;
    }
    /* Recent end */


    /* Partner start */
    .partners .container .row{
        width: 80%;
        margin: 0 auto;
    }
    .single-partner{
        margin-bottom: 30px;
    }
    /* Partner end */

    /* Testimonial start */
    .testimonial-carousel{
        margin-top: 40px;
    }
    .testimonial-text{
        font-size: 1rem;
    }
    /* Testimonial end */

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* Banner start */
    .banner-content {
        padding-top: 40px;
    }
    .banner-content h6 {
        padding-bottom: 15px;
    }
    .banner-content h1 {
        font-size: 2rem;
    }
    .banner-content p {
        font-size: 1rem;
    }
    .banner-content a {}

    .banner-img{

    }
    /* Banner end */

    /* Advertise start */
    
    /* Advertise end */


    /* Partner start */
    .partners .container .row{
        width: 80%;
        margin: 0 auto;
    }
    .single-partner{
        margin-bottom: 30px;
    }
    /* Partner end */
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* Banner start */
    .banner-content {}
    .banner-content h6 {}
    .banner-content h1 {
        font-size: 2.3rem;
    }
    .banner-content p {

    }
    .banner-content a {}
    /* Banner end */

    /* Make customer start */
    .customer-text{
        width: 80%;
        margin: 0 auto;
    }
    /* Make customer end */


    /* Customer start */
    .customer-text{
        margin-top: 40px;
    }
    /* Customer end */


    /* Recent start */
    .recent-single-item{
        
    }
    .recent-text-container{
        padding: 0 0 0 5%;
    }
    .recent-text{
        font-size: 1.05rem;
    }
    /* Recent end */


    /* Partner start */
    .partners .container .row{
        width: 90%;
        margin: 0 auto;
    }
    .single-partner{
        margin-bottom: 50px;
    }
    /* Partner end */
    

    /* Testimonial start */
    .testimonial-text{
        font-size: 1.1rem;
    }
    /* Testimonial end */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* Recent start */
    .recent-single-item{
        
    }
    .recent-text-container{
        padding: 0 0 0 5%;
    }
    .recent-text{
        font-size: 1.2rem;
    }
    /* Recent end */

    
    
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    
    
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    
    
}